body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-cloud-canvas {
  width: 640px;
  height: 640px;
  border: 1px solid #666;
  margin-top: 20px;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #21252b;
  border-left: 1px solid #444;
  display: flex;
  flex-direction: column;
}

.sidebar h2, .sidebar h3 {
  margin-top: 0;
}

.sidebar input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.sidebar label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.sidebar label input {
  margin-top: 5px;
}

.sidebar button {
  margin-bottom: 15px;
}
.priority-list {
  flex-grow: 1;
  background-color: #282c34;
  border: 1px dashed #555;
  padding: 5px;
  overflow-y: auto; /* Add scroll for long lists */
}

.priority-list-item {
  padding: 8px 12px;
  margin-bottom: 5px;
  background-color: #3a3f4b;
  border-radius: 3px;
}